numpy==1.24.1
pandas==2.2.3
pillow==11.2.1
scipy==1.13.1
easyocr==1.7.2
torch==2.2.2
torchvision==0.17.2
transformers==4.37.0

fastapi==0.115.5
opencv-python
tqdm==4.65.2
uvicorn
decord==0.6.0
pandas
pyyaml==6.0.1
scikit-video
timm==1.0.15
einops==0.8.1
clip==0.2.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86